* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: red;
  height: 100vh;
}

.sender{
  text-align: left;
  background-color: aquamarine;
}

.recieved {
  text-align: right;
background-color: rgb(183, 183, 221);
}


